<%= form_for @appointment, :html => { :class => "form-horizontal appointment" } do |f| %>

  <% if @appointment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @appointment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone_number) %>
  </div>
  <div class="form-group">
    <%= f.label :time, "Time and Date", :class => 'control-label col-lg-2' %>
    <!-- Rails expects time_select when dealing with ActiveRecord forms -->
    <div class="col-lg-2">
      <%= time_select :appointment, :time, {:class => "form-control" } %>
    </div>
    <div class="col-lg-4">
      <%= date_select :appointment, :time, {:class => "form-control" } %>
    </div>
    <div class="col-lg-2">
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all.sort, default: "Pacific Time (US & Canada)" %>
    </div>
    <%=f.error_span(:time) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                appointments_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
